
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/************************************* menu ****************************************/
header{
    width: 100%;
    height: 60px;
    background: rgb(70, 68, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    margin-left: 100px;
    color: bisque;
    cursor: pointer;
}
.nav__bar{
    display: none;
    background-color: transparent;
    border: none;
}
.nav__bar span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: #f3f3f3;
    margin: 10px auto;
    border-radius: 2px;
    

}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 100px;
    
}

header ul li{
    margin: 0px 10px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    transition: 1s;

}
header ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    color: bisque;

}
header ul li:hover{
    background: rgb(226, 89, 20);
    border-radius: 10px;
    transition: 1s;
}

section{
    width: 100%;
    height: 700PX;
    background-image: url(imagenes/menu.jpg);
    background-position: center;
    background-size: cover;
}

section h2{
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 40px;
    color: bisque;
}

@media (max-width:1075px) {
    header ul{
        margin-right: 30px;
    }
    header ul li a{
        font-size: 20px;
    
    }
    
}
@media (max-width:937px) {
    header ul li{
        margin: 0px 0px;
    }
    header ul li a{
        font-size: 20px;
    
    }
    header .logo{
        margin-left: 10px;

    }
    
}
@media (max-width:744px){
    header{
        width: 100%;
        height: 100%;
        background: rgb(70, 68, 66);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    header ul{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 92vh;
        margin: 10px 0px;
    }
    .nav__bar{
        display: block;
        position: absolute;
        right: 15px;
    }
    section h2{
        width: 250px;
        height: 250px;
        position: absolute;
        margin-top: 200px;
        margin-left: 100px;
        font-size: 25px;
        color: bisque;
    }
   
}

.ul__items.activado{
    display: flex;
}

 /*************************************** TURISMO ********************************/
 nav{
     width: 100%;
     height: 100%;
     background: #fff;
 }

 nav h1{
     text-align: center;
     margin-top: 20px;
 }

.tarjetas-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 20px 20px 20px;
    
}

.tarjetas{
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
.tarjetas img{
    width: 100%;

}
.tarjetas h1{
    margin: 0px 0px 15px 0px;
}
@media (max-width:690px) {
    .tarjetas-container{
    grid-template-columns: auto auto;
   }
   nav h1{
    font-size: 20px;
}

}
@media (max-width:570px) {
    .tarjetas-container{
    grid-template-columns: auto;
   }
   nav h1{
    font-size: 20px;
}

}

/*********************************** HISTORIA *****************************/
.sobreNosotros{
    width: 100%;
    height: 800px;
    
}
.sobreNosotros h1{
    text-align: center;
    margin-bottom: 15px;
}
.sobreNosotros .contenedor{
    display: flex;
}
.sobreNosotros .contenedor .imagen{
    width: 50%;
    height: 700px;
    background-image: url(imagenes/sobre\ nosotros.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    margin: auto;
}

.sobreNosotros .contenedor .texto{
    width: 50%;
    display: flex;
}
.sobreNosotros .contenedor .texto p{
   width: 400px;
   height: 400px;
   margin: auto;
   font-size: 20px;

}

@media (max-width:880px) {

    .sobreNosotros .contenedor .imagen{
    display: none;
}.sobreNosotros .contenedor .texto{
    width: 100%;
    display: flex;
}
.sobreNosotros .contenedor .texto p{
   width: 300px;
   height: 300px;
   margin: auto;
   font-size: 15px;

}

}

/***********************************FOTER*******************************/

footer{
    width: 100%;
    height: 600px;
    background-image: url(imagenes/footer.jpg);
    background-position: center;
    background-size: cover;
    display: flex;

}

footer form{
    width: 300px;
    height: 300px;
    margin: auto;
}
footer form .item{
    width: 100%;
    height: 40px;
    margin: 5px;
    box-shadow: 10px 10px 5px;

}

footer form h1{
    text-align: center;
    color: #fff;
    
}
footer form .boton{
    width: 100%;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(0,0 ,0,.5) inset,10px 10px 5px rgb(0,0 ,0,.5);
}

footer form p{
    text-align: center;
    color: #fff;
}
footer form p a{
    text-align: center;
    color: #fff;
}